@import "tailwindcss";

/* input.css */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@media print {
    #no-print {
        display: none;
    }

    #print-area {
        display: block;
    }

    @page {
        margin: 0;
        size: auto;
    }

    .resume-preview {
        display: block;
        background: #fff;
        padding: 0;
        margin: 0;
        min-height: auto;
        box-shadow: none;
        border-radius: 0;
    }

    .resume-preview>div {
        box-shadow: none;
        border-radius: 0;
        padding: 16px;
        width: 100%;
        max-width: 100%;
    }
}